* {
  box-sizing: border-box;
}

body{
  background: url('../images/up.jpg');
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  font-size: 20px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid pink;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}

.questions {
  line-height: 45px;
  text-align: center;
}

header {
  background-color: #FFB6C1;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-family: WickedMouse, Helvetica, Arial, sans-serif;
}

/* time remaining */
h1  {
font-family: PrettyFont, Helvetica, Arial, sans-serif;
font-size: 30px;
text-align: center;
}

.submit {
  margin: auto;
  text-align: center;
}

#submit {
  width: 20em;
  height: 3em;
  background-color: orange;
}
